@model ForumGroupModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(Model.Name);
    //page class
    Html.AppendPageCssClassParts("html-forum-group-page");
}
@await Component.InvokeAsync("ForumBreadcrumb", new { forumGroupId = Model.Id })
@await Html.PartialAsync("_ForumHeader")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BoardsForumGroupAfterHeader })
<div class="page forum-group-page">
    @await Html.PartialAsync("_ForumGroup", Model)
</div>
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BoardsForumGroupBottom })
