@model EmailRevalidationModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.AccountActivation").Text);
    //page class
    Html.AppendPageCssClassParts("html-email-revalidation-page");
}
<div class="page email-revalidation-page">
    <div class="page-title panel-heading">
        <h1>@T("Account.EmailRevalidation")</h1>
    </div>
    <div class="page-body panel-body">
        <div class="description alert alert-success">
            @Model.Result
        </div>
    </div>
</div>
