@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page from-panel">
    <div class="page-title panel-heading">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body panel-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="alert alert-info">
                @Model.Result
            </div>
        }
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="description alert alert-info">@T("Account.PasswordRecovery.Tooltip")</div>
            <div class="form-horizontal" role="form">
                <div class="form-group row">
                    <label class="control-label col-sm-4 col-md-5 col-xs-12 password-text" asp-for="Email" asp-postfix=":"></label>
                    <div class="col-sm-5 col-md-3 col-xs-11">
                        <input asp-for="Email" class="email form-control"/>
                    </div>
                    <div class="col-sm-3 col-md-4 col-xs-1">
                        <nop-required />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <div class="form-group row">
                        <div class="captcha-box col-sm-offset-4 col-md-offset-5 col-sm-5 col-md-5">
                            <nop-captcha class="g-recaptcha" />
                        </div>
                    </div>
                }
                <div class="form-group row">
                    <div class="col-sm-offset-4 col-md-offset-5 col-sm-5 col-md-5">
                        <button type="submit" name="send-email" class="btn btn-primary password-recovery-button">@T("Account.PasswordRecovery.RecoverButton")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
